
*{
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 0%;
}
.container{
    width: 100%;
    min-height: 100vh;
    max-height:auto;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background: url(background.jpg) no-repeat center center/cover;
}
.main{
    width: 80%;
    height: 600px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(255, 255, 255, 0.945) 0px 3px 8px;
}
.box1{
    width: 50%;
    height: 600px;
    background-color: #5C5470;
    border-radius: 15px 0px 0px 15px;
}
.box1 h2{
    color: white;
    margin: 35px;
}
input[type="text"]{
    width: 80%;
    border: none;
    border-bottom: 1px solid #352F44;
    background: transparent;
    outline: none;
    color: white;
    padding: 10px;
    margin-left: 30px;
    font-size: 15px;
    margin-top: 10px;
}
input[type="email"]{
    width: 80%;
    border: none;
    border-bottom: 1px solid #352F44;
    background: transparent;
    outline: none;
    color: white;
    padding: 10px;
    margin-left: 30px;
    font-size: 15px;
    margin-top: 15px;
}
textarea{
    width: 80%;
    border: none;
    border-bottom: 1px solid #352F44;
    background: transparent;
    outline: none;
    color: white;
    padding: 10px;
    margin-left: 30px;
    font-size: 15px;
    margin-top: 15px;
    max-height:200px;
    max-width:80%;
    min-width:80%;
}
input::placeholder,textarea::placeholder{
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
}
button{
    padding: 15px;
    border: none;
    outline: none;
    background-color: #B9B4C7;
    margin: 20px 30px;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
    color:#3DFFFF;
    background-color: #352F44;
}
.box2{
    width: 50%;
    height: 600px;
    background-color: #352F44;
    border-radius: 0px 15px 15px 0px;
}
.box2 h2{
    color: white;
    margin: 35px;
}
.box2 p{
    margin: 0%;
    color: #bbbbbb;
    margin: -10px 35px 0px;
}
.inbox2{
    width: 80%;
    height: 400px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
}
.top i{
    font-size: 28px;
    margin:0px 20px 0px 0px;
}
.content{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: white;
}
.content h3{
    font-size: 18px;
    font-weight: lighter;
    margin:0px 20px 0px 0px;
    text-align-last: center;
}
.top{
    font-weight: bold;
    
}
@media screen and (max-width:1024px){
    .container{
        width: 100%;
    }
    .main{
        width: 95%;
    }  
}
@media screen and (max-width:630px){
    .container{
        width: 100%;
        height: fit-content
    }
    .main{
        width: 100%;
        height: fit-content;
        flex-direction:column;
        align-items: center;
        row-gap: 10px;
        padding:10px 0px;
    }  
    .box1{
        width: 98%;
        height: fit-content;
        border-radius: 15px;
    }
    .box2{
        width: 98%;
        height: fit-content;
        border-radius: 15px;
    }
}
